@using AutoOA.Repository.Dto
@model IEnumerable<VehicleRenewalDto>

@{
}

<h1>Список Автомобілів</h1>
<hr/>

@foreach(var item in Model){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GearBoxes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}