@using AutoOA.Core
@using AutoOA.Repository.Dto.VehicleDto

@model VehicleReadDto

@{
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

@{
    var region = ViewBag.Regions as IEnumerable<Region>;
    var brands = ViewBag.Brands as IEnumerable<VehicleBrand>;
    var model = ViewBag.Models as IEnumerable<VehicleModel>;
    var fuel = ViewBag.FuelTypes as IEnumerable<FuelType>;
    var gear = ViewBag.GearBoxes as IEnumerable<GearBox>;
    var drive = ViewBag.DriveTypes as IEnumerable<DriveType>;
    var body = ViewBag.BodyTypes as IEnumerable<BodyType>;
}

<div class="row">
    <form asp-action="Edit" class="col-md-4">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Region.RegionName" class="control-label">Регіон</label>
            <select id="regionName" name="regionName" class="form-select">
                @foreach (var u in region)
                {
                    var selected = Model.Region.RegionName == u.RegionName ? true : false;
                    <!option value="@u.RegionName" @(selected ? "selected" : "" )>@u.RegionName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="VehicleModel.VehicleBrand.VehicleBrandName" class="control-label">Марка</label>
            <select id="vehicleBrandName" name="vehicleBrandName" class="form-select">
                @foreach (var u in model)
                {
                    var selected = Model.VehicleModel.VehicleBrand.VehicleBrandName == u.VehicleBrand.VehicleBrandName ? true : false;
                    <!option value="@u.VehicleBrand.VehicleBrandName" @(selected ? "selected" : "" )>@u.VehicleBrand.VehicleBrandName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="VehicleModel.VehicleModelName" class="control-label">Модель</label>
            <select id="vehicleModelName" name="vehicleModelName" class="form-select">
                @foreach (var u in model)
                {
                    var selected = @Model.VehicleModel.VehicleModelName == u.VehicleModelName ? true : false;
                    <!option value="@u.VehicleModelName" @(selected ? "selected" : "" )>@u.VehicleModelName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ProductionYear" class="control-label">Виберіть рік випуску</label>
            <input asp-for="ProductionYear" class="form-control" />
            <span asp-validation-for="ProductionYear" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BodyType.BodyTypeName" class="control-label">Тип кузова</label>
            <select id="bodyTypeName" name="bodyTypeName" class="form-select" required>
                @foreach (var u in body)
                {
                    var selected = @Model.BodyType.BodyTypeName == u.BodyTypeName ? true : false;
                    <!option value="@u.BodyTypeName" @(selected ? "selected" : "" )>@u.BodyTypeName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Color" class="control-label">Колір</label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StateNumber" class="control-label">Гос.Номер</label>
            <input asp-for="StateNumber" class="form-control" />
            <span asp-validation-for="StateNumber" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="FuelType.FuelTypeName" class="control-label">Паливо</label>
            <select id="fuelTypeName" name="fuelTypeName" class="form-select">
                @foreach (var u in fuel)
                {
                    var selected = @Model.FuelType.FuelTypeName == u.FuelTypeName ? true : false;
                    <!option value="@u.FuelTypeName" @(selected ? "selected" : "" )>@u.FuelTypeName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="NumberOfSeats" class="control-label">Кількість сидінь</label>
            <input asp-for="NumberOfSeats" class="form-control" />
            <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumberOfDoors" class="control-label">Кількість дверей</label>
            <input asp-for="NumberOfDoors" class="form-control" />
            <span asp-validation-for="NumberOfDoors" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price_USD" class="control-label">Ціна</label>
            <input asp-for="Price_USD" class="form-control" />
            <span asp-validation-for="Price_USD" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Mileage" class="control-label">Пробіг</label>
            <input asp-for="Mileage" class="form-control" />
            <span asp-validation-for="Mileage" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="isNew" class="control-label">Новий?</label>
            <input asp-for="isNew" class="form-control" />
            <span asp-validation-for="isNew" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GearBox.GearBoxName" class="control-label">Тип коробки передач</label>
            <select id="gearBoxName" name="gearBoxName" class="form-select">
                @foreach (var u in gear)
                {
                    var selected = @Model.GearBox.GearBoxName == u.GearBoxName ? true : false;
                    <!option value="@u.GearBoxName" @(selected ? "selected" : "" )>@u.GearBoxName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="DriveType.DriveTypeName" class="form-label">Тип приводу</label>
            <select class="form-select" name="driveTypeName" id="driveTypeName">
                @foreach (var u in drive)
                {
                    var selected = @Model.DriveType.DriveTypeName == u.DriveTypeName ? true : false;
                    <!option value="@u.DriveTypeName" @(selected ? "selected" : "" )>@u.DriveTypeName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="VehicleIconPath" class="control-label">Додайте фото</label>
            <input asp-for="VehicleIconPath" class="form-control" required>
            <span asp-validation-for="VehicleIconPath" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label">Опис українською</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>

        <hr />

        <div class="form-group">
            <button value="Update" class="btn btn-primary" type="submit">Оновити</button>
        </div>
    </form>
</div>

<div class="float-end">
    <a href="/Vehicles/Index" class="btn btn-outline-primary">Назад до списку</a>
</div>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
}