@using AutoOA.Core
@using AutoOA.Repository
@using AutoOA.Repository.Dto.FuelTypeDto
@using AutoOA.Repository.Dto.GearBoxDto
@using AutoOA.Repository.Dto.BodyTypeDto
@using AutoOA.Repository.Dto.VehicleDto
@using AutoOA.Repository.Dto.VehicleModelDto
@using AutoOA.Repository.Dto.VehicleBrandDto

@model IEnumerable<VehicleReadDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var u in Model)
        {
            <div class="card" style="width:400px">
                <img class="card-img-top" src="@u.IconPath" alt=" ">
                <div class="card-body">ю
                    <div class="text-center">
                        <h5 class="fw-bolder">
                            <a href="#" class="text-decoration-none">@u.VehicleBrand @u.VehicleModel.VehicleModelName @u.VehicleModel.ProductionDate.ToString("yyyy")</a>                            
                        </h5>
                        <p class="text-success">@u.Price $</p>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><img class="card-img" src="~/Images/fuel.png" alt="..." style="width: 1.3rem"> @u.FuelType.FuelName</td>
                                    <td><img class="card-img" src="~/Images/pngegg.png" alt="..." style="width: 1.3rem"> @u.GearBox.GearBoxName</td>
                                </tr>
                                <tr>
                                    <td><img class="card-img" src="~/Images/travel_car_icon_124831.png" alt="..." style="width: 1.3rem"> @u.BodyType.BodyTypeName</td>
                                    <td><img class="card-img" src="~/Images/icons8-speedometer-24.png" alt="..." style="width: 1.3rem"> @u.Mileage</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

